#amlt-widget {
    position: relative;
    width: 400px;
    height: 200px;
    max-width: 100%;
    margin: 2rem auto;
    overflow: hidden;
    transition: height .5s;
    background: #3b48f5;
    box-shadow: 0px 0px 20px -2px #00000012;
}
#amlt-widget iframe {
    border: none;
    overflow: hidden;
    width: 400px;
    height: 250px;
    max-width: 100%;
    transition: height .5s;
}
#amlt-widget > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
